* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'popins', sans-serif;
    overflow-x: hidden;
}

.back a {
    position: absolute;
    padding: 20px;
    text-decoration: none;
    color: white;
    float: left;
}

.mypic {
    background: rgb(30, 30, 30);
    height: auto;
}

.pic_img {
    padding: 20px;
    border-radius: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

.pic h1 {
    font-size: 40px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    text-align: center;
}

.pic ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
}

.pic ul li {
    list-style: none;
    margin-right: 30px;
}

.pic ul li img {
    width: 300px;
}

.about {
    height: 30vh;
    background: rgb(30, 30, 30);
}

.about-list {
    display: flex;
}

.about h1 {
    color: gray;
    font-size: 30px;
    padding: 40px;
    letter-spacing: -2px;
}

.about h1::selection {
    background: #d1363a;
}

.social-icon-about {
    margin-top: 40px;
    margin-left: 80%;
}

.social-icon-about::selection {
    background: #d1363a;
}

.social-icon-about a img {
    width: 30px;
    margin-right: 30px;
}

.social-icon-about a img::selection {
    background: #d1363a;
}

.about-cookie {
    color: gray;
    display: flex;
    padding: 40px;
}

.about-cookie p {
    font-size: 13px;
}

.about-cookie p::selection {
    background: #d1363a;
}

.about-cookie a {
    margin-left: 65%;
    text-decoration: none;
    color: gray;
    font-weight: 600;
    transition: all ease-in-out .2s;
}

.about-cookie a:hover {
    color: #ebebeb;
}

.about-cookie a::selection {
    background: #d1363a;
}